/*my media query css "screen size"*/
@media  screen and (max-width: 992px) {
   body{
    background-color: lightgrey;
    display: block;
   }
   
}
@media screen and (max-width:600px) {
   body{
      display: block;
      nav-down: current;
      font-size: 14px;
      font-weight: 600;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-rendering: optimizeSpeed;
      font-variant: normal;
   }
   
}